/***********
REGISTER PAGE
************/
/*body and general */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

/*header */
header {
    margin: 0;
    padding: 0;
}

header .front-line-header {
    background-color: rgba(14, 48, 14, 0.952);
    padding: 3px;
}

header .name {
    color: rgb(6, 30, 32);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .ieka-logo {
    width: 25%;
    float: left;
    overflow: auto;
    margin: auto 10px;
 }

 header .search-navbar {
    float: left;
    width: 40%;
    margin: auto 10px;
 }

header .search-navbar {
    margin-top: 16px;
 }

#search {
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: white;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 7px;
}

.search-tab input:focus {
    outline: none;
    outline-offset: 0; 
} 

.search img {
    width: 30px;
    height: 33.5px;
}

.search-tab .search {
    float: right;
    margin-right: 15px;
    padding: 4.3px;
    border-radius: 0 5px 5px 0;
    border: none;
}

.search-tab .search:hover{
    background: #c7d3d4ff;
}

/*the login and register tabs*/
header .credentials {
    width: 30%;
    float: left;
    margin: 16px 0 15px 10px;
}

/*login tab*/
.credentials .login {
    width: 40%;
    float: left;
}

.credentials .login span {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c7d3d4ff;
    padding: 5px;
}

.login .old {
    padding-top: 8px;
}

.login-button:hover,
.login span:focus {
    background-color: #2c5f2dff;
    cursor: pointer;
    border-radius: 5px;
}

/*for the login dropdown form*/
.dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown form {
    width: 80%;
    margin: auto;
    padding: 3px;
    padding-top: 10px;
}

.dropdown .form-group {
    width: 100%;
    margin-top: 10px;
}

.dropdown label {
    text-transform: capitalize;
    color: black;
    padding-top: 10px;
    font-size: 20px;
}

.dropdown input {
    width: 100%;
    height: 33px;
    border: none;
    margin-top: 5px;
    padding: 5px;
}

.dropdown .submit input[type=submit]{
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #c7d3d4ff;
    margin-top: 17px;
    margin-bottom: 30px;
    font-size: 19px;
    height: 7vh;
    padding: 0;
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(14, 48, 14, 0.952);;
}


/*register tab*/
.credentials .register {
    width: 55%;
    float: left;
}

.credentials .register a {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #c7d3d4ff;
    padding: 5px;
    text-decoration: none;
}

.credentials .register a:hover {
    background-color: #2c5f2dff;
    cursor: pointer;
    border-radius: 5px;
}

.credentials .register a:focus {
    font-weight: bold;
}

.credentials .register a:visited {
    color: aliceblue;
}

.register .new {
    padding-top: 8px;
}
.register i {
    height: 100px;
    width: 50px;
}
.credentials::after {
    clear: both;
    content: "";
    display: table;
}

header .front-line-header::after {
    content: "";
    display: table;
    clear: both;
 }

 
 /*navigation bar*/
.navigation_bar {
    padding: 0;
    margin: 0;
    background-color: #c7d3d4ff;
}

.navbar {
    position: sticky;
    top:0;
}
.navbar div {
    display: inline-block;
    padding: 10px;
}

.navbar div a {
    text-transform: capitalize;
    font-size: 20px;
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    color:  rgba(14, 48, 14, 0.952);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar div a:hover {
    border:  1px solid rgba(14, 48, 14, 0.952);
    border-radius: 3px;
    padding: 3px;
}

.navbar .register-customer {
    float: right;
    margin-right: 20px;
}

.navbar div a:focus,
.navbar div a:active {
    border: 1px solid rgba(14, 48, 14, 0.952);
    border-radius: 3px;
    padding: 3px;
}

.navbar div a:visited {
    border: 1px solid rgba(14, 48, 14, 0.952);
    padding: 3px;
    color:1px solid rgba(14, 48, 14, 0.952); 
}

/*****
SECTION CONTAINING THE FORM
******/
.hi h6 {
    text-transform: capitalize;
    font-size: 27px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 9px;
    letter-spacing: 1px;
    text-align: center;
    color: rgba(14, 48, 14, 0.952);
}

.form {
    width: 75%;
    margin: auto;
    padding: auto;
    overflow: auto;
}

.form form {
    width: 100%;
    margin: auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px 15px 9px 15px;
    overflow: auto;
    margin-bottom: 20px;
}

/***First half of the form***/
.form .section-1 {
    width: 30%;
    float: left;
    margin: auto 15px auto auto;
    padding: 0px 7px 5px 7px;
}

.form .section-1 div {
    width: 100%;
    margin-top: 8px;
}

.form .section-1 div label {
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

.form .section-1 div input[type = email] {
    text-transform: lowercase;
}

.form .section-1 div label {
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.form .section-1 div input {
    width: 100%;
    height: 30px;
    padding: 3px;
    margin-top: 5px;
    text-transform: capitalize;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form .section-1 div input:focus {
    background-color: white;
    border: 1px solid grey;
}

/***Second half of the form***/
.form .section-2 {
    width: 30%;
    float: left;
    margin: auto auto auto 15px;
    padding:  0px 7px 5px 7px;
}

.form .section-2 div {
    width: 100%;
    margin-top: 8px;
}

.form .section-2 div label {
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

  
.form .section-2 div input {
    width: 100%;
    padding: 3px;
    height: 30px;
    margin-top: 5px;
    text-transform: capitalize;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form .section-2 div input:focus {
    background-color: white;
    outline: none;
    border: 1px solid grey;
}

.form .section-2 div input[type=checkbox] {
    height: 15px;
    position: relative;
    top: 5px;
}

.form .section-2 .male {
    font-size: 15px;
    position: relative;
    top: -14px;
    text-transform: capitalize;
}

.form .section-2 .female {
    font-size: 15px;
    position: relative;
    top: -13px;
    text-transform: capitalize;
}

.form #products {
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    padding: 5px;
}

.form .section-3 {
    width: 30%;
    float: left;
    margin: auto auto auto 15px;
    padding: 0px 7px 5px 7px;
}

.form .section-3 div {
    width: 100%;
    margin-top: 8px;
}

.form .section-3 div label {
    text-transform: capitalize;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 500;
}

  
.form .section-3 div input {
    width: 100%;
    height: 30px;
    padding: 3px;
    margin-top: 5px;
    text-transform: capitalize;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form .section-3 div input:focus {
    background-color: white;
    outline: none;
    border: 1px solid grey;
}

.form .sections::after {
    clear: both;
    display: table;
    content: "";
}

.form .submit {
    text-align: center;
    width: 12%;
    float: center;
    text-transform: capitalize;
    background-color: rgba(52, 92, 52, 0.952);
    padding: 5px;
    margin-top: 18px;
    font-size: 21px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5px;
    color: white;
    margin-left: 45%;
}

.form .submit:hover {
    cursor: pointer;
}

/**************
CUSTOMER SIGNUP FORM
****************/
.error {
    background-color: rgba(43, 117, 43, 0.952);
    color: white;
    padding: 7px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    letter-spacing: 1px; 
    border-radius: 5px;   
}

.sects .sect-1 {
    width: 45%;
    padding: 5px;
    padding-top: 1px;
    float: left;
    margin-right: 5px;
}

.sect-1 div {
    margin-bottom: 6px;
}

.sect-1 label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 499;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.sect-1 input {
    width: 100%;
    height: 32px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    margin-top: 2px;
    padding: 2px;
}

.sect-1 input[type="email"] {
    text-transform: lowercase;
}

.sect-1 input:focus {
    outline: none;
    outline-offset: 0; 
    border: 1px solid rgba(14, 48, 14, 0.952);
} 

.sects .sect-2 {
    width: 45%;
    padding: 5px;
    padding-top: 1px;
    float: left;
    margin-left: 35px;
}

.sect-2 div {
    margin-bottom: 6px;
}

.sect-2 label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 499;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.sect-2 input,
.sect-2 select {
    width: 100%;
    height: 32px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    margin-top: 2px;
    padding: 2px;
}

.sect-2 option {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sect-2 input:focus,
.sect-2 select:focus {
    outline: none;
    outline-offset: 0;
    border: 1px solid rgba(14, 48, 14, 0.952);
}

.sects::after {
    content: "";
    display: table;
    clear: both;
}