* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*header */
header {
    margin: 0;
    padding: 0;
}

header .front-line-header {
    background-color: rgba(14, 48, 14, 0.952);
    padding: 3px;
}

header .name {
    color: rgb(103, 139, 143);
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header .ieka-logo {
    width: 25%;
    float: left;
    overflow: auto;
    margin: auto 10px;
 }

header .search-navbar {
    float: left;
    width: 40%;
    margin: auto 10px;
 }

header .search-navbar {
    margin-top: 16px;
 }

#search {
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 5px 0 0 5px;
    background-color: white;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 7px;
}

.search-tab input:focus {
    outline: none;
    outline-offset: 0; 
} 

.search img {
    width: 30px;
    height: 33.5px;
}

.search-tab .search {
    float: right;
    margin-right: 15px;
    padding: 4.3px;
    border-radius: 0 5px 5px 0;
    border: none;
}

.search-tab .search:hover{
    background: #c7d3d4ff;
}

.search-list {
    padding-left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.07), 
        0 15px 35px 0 rgba(56, 56, 56, 0.2);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.search-tab .search-list li {
    list-style-type: none;
    padding: 10px 15px;
    font-weight: 600;
    border-bottom: 1px inset black;
    cursor: pointer;
}

ul.search-list li:last-child {
    border-bottom: none;
}

ul.search-list li:hover {
    background-color: #c1c1c1;
    color: #fff;
}

ul.search-list li p {
    margin-bottom: 0;
    margin-top: 5px;
}

header .front-line-header::after {
    content: "";
    display: table;
    clear: both;
}


 /*navigation bar*/
 .navigation_bar {
    padding: 0;
    margin: 0;
    background-color: #c7d3d4ff;
}

.navbar {
    position: sticky;
    top:0;
}
.navbar div {
    display: inline-block;
    padding: 10px;
    margin-right: 15px;
}

.navbar div a {
    text-transform: capitalize;
    font-size: 20px;
    text-decoration: none;
    font-weight: 450;
    letter-spacing: 1px;
    color:  rgba(14, 48, 14, 0.952);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar .logout {
    float: right;
    margin-right: 52px;
}

.navbar div a:hover {
    border:  1px solid rgba(14, 48, 14, 0.952);
    border-radius: 3px;
    padding: 3px;
}

.navbar div a:focus,
.navbar div a:active {
    border: 1px solid rgba(14, 48, 14, 0.952);
    border-radius: 3px;
    padding: 3px;
}

.navbar div a:visited {
    border: 1px solid rgba(14, 48, 14, 0.952);
    padding: 3px;
    color:1px solid rgba(14, 48, 14, 0.952); 
}

/******INTRO Section*******/
.welcome-farmer {
    margin: 0 0 5px 0;
    overflow: auto;
}

.welcome-farmer h4 {
    width: 30%;
    float: left;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    text-transform: capitalize;
    color: rgba(15, 73, 15, 0.952);
}

.intro-message {
    width: 60%;
    float: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    padding: 20px;
    color: rgba(15, 73, 15, 0.952);
    font-weight: 650;
}

.welcome-farmer::after {
    content: "";
    display: table;
    clear: both;
}

/*****Boxes Section*****/
.boxes div {
    width: 22%;
    float: left;
    margin: 10px;
    border: 1px solid none;
    border-radius: 5px;
    padding: 15px;
    background-color: #c7d3d4ff;
    min-height: 220px;
    overflow: auto;
    box-shadow: 0 0 5px 0 lavender;
}

.boxes p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: rgba(14, 48, 14, 0.952);
}

.boxes .links {
    padding-bottom: 20px;
}

.boxes a {
    position: relative;
    top: 30px;
    font-size: 20px;
    color: rgba(14, 48, 14, 0.952);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    border: 1px solid rgba(14, 48, 14, 0.952);
    padding: 5px;
    border-radius: 5px;
    text-transform: capitalize;
}

.boxes a:hover {
    font-size: 22px;
    cursor: pointer;
}

.boxes .box-3 a {
    position: relative;
    top: 56px;
}

.box-4 a {
    position: relative;
    top: 84px;
}

.boxes::after {
    clear: both;
    content: "";
    display: table;
}

.boxes {
    margin-bottom: 10px;
    margin-left: 20px;
}

/*****know more section*/
.know-and-ads {
    background-color: lavender;
}

.know-your-way {
    padding: 10px;
}

.know-your-way h6 {
    text-transform: capitalize;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    color: rgba(14, 48, 14, 0.952);
    font-style: italic;
    padding-bottom: 10px;
}

.know-your-way,
.talk-ads p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    word-spacing: 2px;
    color: rgba(4, 61, 4, 0.952);
    line-height: 36px;
}

.tour a {
    text-decoration: none;
    color: rgba(4, 61, 4, 0.952);
    border: 1px solid rgba(14, 48, 14, 0.952);
    border-radius: 4px;
    padding: 4px;
}

.know-your-way a:hover {
    cursor: pointer;
    background-color: rgba(15, 48, 14, 0.952);
    color: lavender;
}

/*****Talk-ads section*****/
.talk-ads {
    margin-top: 10px;
    padding-bottom: 20px;
}

.talk-ads h6 {
    text-transform: capitalize;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    color: rgba(14, 48, 14, 0.952);
    font-style: italic;
    padding-bottom: 10px;
    text-align: right;
    margin-right: 25px;
}

.make-ads a {
    text-decoration: none;
    color: rgba(4, 61, 4, 0.952);
    border: 1px solid rgba(14, 48, 14, 0.952);
    border-radius: 4px;
    padding: 4px; 
}

.make-ads a:hover {
    cursor: pointer;
    background-color: rgba(15, 48, 14, 0.952);
    color: lavender;
}

/*****Footer*****/
footer {
    background-color: rgba(14, 48, 14, 0.952);
    overflow: auto;
    padding-bottom: 15px;
}

/*first part*/
.first-part {
    padding: 6px;
    padding-top: 15px;
    margin: 0 10px 10px 10px;
}

/*acquaintance*/
.acquaintance {
    width: 20%;
    float: left;
}

.acquaintance ul {
    padding-top: 10px;
}

.acquaintance ul li {
    list-style-type: none;
    padding: 3px;
}

.acquaintance h6 {
    padding: 3px;
    color: lavender;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.know li a {
    color: #c7d3d4ff;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

.know li a:hover,
.know li a:active,
.know li a:focus {
    color: rgba(96, 189, 252, 0.87);
    text-decoration: underline;
}

.flag img {
    width: 11%;
    height: 20%;
}

.flag {
    color: rgba(163, 179, 179, 0.87);
    font-size: 19px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 25px;
    margin-top: 48px;
}

/*make money with us*/
.make {
    width: 25%;
    float: left;
    margin: 0 5px 0 5px;
}

.make ul {
    padding-top: 10px;
}

.make ul li {
    list-style-type: none;
    padding: 3px;
    padding-top: 7px;
}

.make h6 {
    padding: 3px;
    color: lavender;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.make-money li a {
    color: #c7d3d4ff;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

.make-money li a:hover,
.make-money li a:active,
.make-money li a:focus {
    color: rgba(96, 189, 252, 0.87);
    text-decoration: underline;
}

/*terms and conditions*/
.terms {
    width: 25%;
    float: left;
    margin: 0 5px 0 10px;
}

.terms ul {
    padding-top: 10px;
}

.terms ul li {
    list-style-type: none;
    padding: 3px;
    padding-top: 7px;
}

.terms h6 {
    padding: 3px;
    color: lavender;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
}

.policies li a {
    color: #c7d3d4ff;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

.policies li a:hover,
.policies li a:active,
.policies li a:focus {
    color: rgba(96, 189, 252, 0.87);
    text-decoration: underline;
}

/*terms and conditions*/
.helpdesk {
    width: 25%;
    float: left;
    margin: 0 5px 0 10px;
}

.helpdesk ul {
    padding-top: 10px;
}

.helpdesk ul li {
    list-style-type: none;
    padding: 3px;
    padding-top: 7px;
}

.helpdesk h6 {
    padding: 3px;
    color: lavender;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
}

.help li a {
    color: #c7d3d4ff;
    text-decoration: none;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 350;
}

.help li a:hover,
.help li a:active,
.help li a:focus {
    color: rgba(96, 189, 252, 0.87);
    text-decoration: underline;
}

.first-part::after {
    clear: both;
    display: table;
    content: "";
}


/*Second part*/
.second {
    margin: 20px;
}

.social-media {
    width: 35%;
    float: left;
    padding: 10px;
}

.media {
    display: inline;
    margin: 0 2px 0 2px;
}

.media img {
    width: 9%;
    height: 100%;
}

/*company reserved rights*/
.reserved {
    width: 38%;
    float: left;
    padding: 10px;
}

.company {
    color: #c7d3d4ff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 400;
    text-align: center;
}

.second::after {
    display: table;
    content: "";
    clear: both;
}